Stuttgart.CSharp3WhatsNew/05 - Linq To Xml/LinqBooks.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.linq.com/linqbooks/2008/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="LinqBooks">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="Book">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Title" type="xs:string" />
                            <xs:element name="Authors">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" name="Author" type="xs:string" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="Id" type="xs:string" use="required" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>